<!-- Weather component -->
<section class="weather">
  <li class="items location">
    <span class="bold"> <span class="icon">⚓</span> Hyderabady</span>,
    Telangana
  </li>
  <li class="items temperature">
    <span class="icon">🌤️</span>
    <span class="current-temp bold"> 30°C </span>
    <span class="least-temp"> 20°C </span>
  </li>
  <li class="items rain">
    <span class="bold"><span class="icon">🌦️</span>Expected</span> Rain
  </li>
  <li class="items date"><span class="icon">⌚</span>10th March 2023</li>
</section>
